* {
  text-decoration: none;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="text"] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type="email"] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type="link"] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type="password"] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type="checkbox"] {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 20px;
}
li{
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0px;
}
button {
  background-color: #9747ff;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  width: 20vw;
  border: none;
  /* display: block; */
  /* margin: auto; */
  color: white;
  cursor: pointer;
}
.PromoButtonPrimary {
  background-color: #9747ff;
  padding: 15px 20px;
  border-radius: 10px;
  width: fit-content;
  border: none;
  margin: 1px 2px;
  color: white;
  cursor: pointer;
}
.PromoButtonSecondary {
  background-color: greenyellow;
  padding: 15px 20px;
  border-radius: 10px;
  width: fit-content;
  border: none;
  /* display: block; */
  /* margin: auto; */
  margin: 2px 2px;
  color: white;
  cursor: pointer;
  margin: 2px 2px;
}
.PromoButtonTertiary {
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 10px;
  width: fit-content;
  border: red solid 1px;
  color: red;
  cursor: pointer;
  margin: 2px 2px;
}
.MailButton{
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 10px;
  width: fit-content;
  border: green solid 1px;
  color: green;
  cursor: pointer;
  margin: 2px 2px;
}
.LogoutButton {
  bottom: 50px;
}
.formButtons {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.formButtonActive {
  background-color: #9747ff;
  color: #ffffff;
  padding: 14px 20px 14px 20px;
  width: 20vw;
}
.formButton {
  padding: 14px 20px 14px 20px;
  margin: 2px;
  color: #050505;
  background-color: #ffffff;
  border: #9747ff solid 1px;
  width: 20vw;
}
.DonateButton {
  display: block;
  margin: auto;
}
hr {
  margin: 5px 0px 0px 0px;
  border-radius: 15px;
}
h5 {
  margin: 0px;
}
h1 {
  margin: 5px 0px;
}
p {
  margin: 0px;
  margin-bottom: 10px;
}
.SideBarLayout {
  display: block;
  
}
.flexLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  height: 70vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.flexLayout::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.GRAPHDashboardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 15px;
  margin: 10px;
  border: #9747ff solid 1px;
  height: 35vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.GRAPHDashboardContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.DashboardFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.pieContainer{
  /* width:350px; */
  height:30vh;
  padding:5px;
}
.NavBarContainer {
  height: 100vh;
  margin-right: 10px;
  width: 100%;
  background-color: #9747ff91;
  display: none;
  flex-direction: column;
  justify-content: start;
  padding: 0px 0px 0px 0px;
  backdrop-filter: blur(20px);
  border-radius: 0px 15px 15px 0px;
}
.NavBarContainer h2 {
  color: white;
  margin: 5px 0px 5px 5px;
}
.NavBarContainer span {
  color: black;
}
.NavBarContainerMiniDrawer{
  width: 100%;
  position:sticky;  z-index: 100;
  top: 0;

}
.NavBarContainerMini{
  height: 100vh;
  /* margin-right: 10px; */
  width: 200px;
  background-color: #9747ff91;
  display: flex;
  /* z-index: 100; */
  flex-direction: column;
  justify-content: start;
  /* position: absolute; */
  padding: 0px 0px 0px 0px;
  backdrop-filter: blur(20px);
  border-radius: 0px 15px 15px 0px;

}
.MiniDrawerHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffffb0;
  backdrop-filter:blur(10px);
  width: 100%;
  margin-bottom: 10px;
}

.NavLoginLogoutButton {
  background-color: #ccb2ee;
  /* padding: 10px 5px; */
  border-radius: 10px;
  width: fit-content;
  border: none;
  color: rgb(50, 59, 184);
  cursor: pointer;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-right: 10px;
}
.homeLogo{
  border-radius: 0px 0px 15px 15px;
  border-bottom: white solid 2px;
}
.navBarList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.Selected {
  color: white;
  margin: 5px 10px 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;

}
.Selected>:hover{
  transform: scale(0.9);

}
.unSelected {
  color: grey;
  margin: 5px 10px 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.unSelected:hover{
  transform: scale(0.9);
}

.cardItemTitle {
  margin: 0px 3px;
  width: 90%;  
  text-align: center;

}

.cardItem {
  display: flex;
  place-items: center;
  gap: 5px;
  flex-direction: row;
  padding: 10px;
  width:93vw ;
  height: fit-content;
  margin: 0px 7px 2px 7px;
  border-radius: 10px;
  box-shadow: rgba(153, 152, 152, 0.2) 0px 2px 4px 0px;
  justify-content: space-evenly;
}
.cardItemListTitle {
  display: flex;
  place-items: center;
  gap: 5px;
  flex-direction: row;
  padding: 10px;
  width: 93vw;
  height: 30px;
  font-weight: 500;
  margin: 5px auto;
  background-color: #fafafa;
  border-radius: 10px 10px 0px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 0px;
  justify-content: space-evenly;
}
.cardItem:hover {
  background-color: #f8f8f8;
  /* width: 175px;
  height: 190px; */
}
.cardItem img {
  width: 69px;
  height: 69px;
  border-radius: 10px;
}
.cardItemDetails {
  display: flex;
  flex: 4;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.staticColumnHead{
  text-align: left;
  width:200px;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Volunteers {
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 10px;
  width: 159px;
  height: 177px;
  margin: 0px 5px 5px 5px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Volunteers img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
#volunteerPoint {
  width: 20px;
}

.Dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.DashboardMini {
  max-width: 160px;
  min-width: 140px;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 150px;
  padding: 0px 10px;
  margin: 10px;
}
.C1 {
  background-color: #9747ff;
  height: 7px;
  border-radius: 15px;
}
.authBackground{
  background-image: url('./assets/SalvageMeLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.authBackdrop{
  background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;

}
.LoginForm {
  display: block;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  /* backdrop-filter: blur(20px); */
  border-radius: 10px;
  width: 50vw;
  place-items: center;
  background-color: #ffffff;

}
.LogInButton {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
  margin: auto;
}

.SignUpForm {
  display: block;
  margin: auto;
  width: 50vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  /* backdrop-filter: blur(20px); */
  border-radius: 10px;
  place-items: center;
  background-color: #ffffff;
}
.SignUpFormInput {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.SignUpButton {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
}

.Donate {
  display: flex;
}
.DonateForm {
  display: block;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 10vh;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 70vw;
}
.DonateFormDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
}

.ProfileImageDivContainer {
  display: block;
  margin: auto;
}
.ProfileImageContainer:hover {
  cursor: pointer;
}

.DonorBook {
  width: 150px;
  height: 220px;
  margin: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.DonorBook div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.DonorBookButton {
  float: right;
  margin: 10px;
  width: 100px;
  margin-top: auto;
}
.DonorBookButtonRequested {
  float: right;
  margin: 10px;
  width: 100px;
  margin-top: auto;
  background-color: #38a405;
}

.RequestSearch {
  margin:0px 5px auto auto;
  width: 93vw;
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  align-items: baseline;
}
.RequestSearchOne {
  display: flex;
  align-items: center;
}
.RequestSearchOne Button {
  margin-left: 10px;
  height: 48px;
}
.RequestSearchOne input {
  width: 20vw;
}

.dropdown-container {
  text-align: left;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
}
.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}
.dropdown-item {
  padding: 5px;
  cursor: pointer;
}
.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
.dropdown-item:hover {
  background-color: #9747ff;
}

.Filter-container {
  text-align: left;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
}
.Filter-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.Filter-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}
.Filter-item {
  padding: 5px;
  cursor: pointer;
}
.Filter-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
.Filter-item:hover {
  background-color: #9747ff;
}

.ProfileImageContainer {
  border-radius: 15px;
  width: 150px;
  height: 150px;
  border: #050505 solid 1px;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  cursor: pointer;
}
.ProfileImage {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
.CloudImage {
  display: block;
  width: 50%;
  height: 100%;
  margin: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .LoginForm {
    
    width: 80vw;
  }
  .LogInButton {
    display: block;
    width: 80vw;
    margin-top: 10px;
    margin-bottom: 10px;
    place-items: center;
    margin: auto;
  }
  .SignUpForm{
    width: 80vw;
  }
  .SignUpFormInput {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 2fr ; */
    place-items: center;
  }
  .SignUpFormInput div {
    width: 100%;
  }
  .SignUpButton{
    width: 80vw;
  }

  /* .RequestSearch {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px auto;

  } */
  .Filter-container {
    display: flex;
    float: right;
  }

  .DonateFormDetails {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 10px;
    margin-bottom: 10px;
    align-items: center;
  }
 
  /* .Dashboard {
    margin-bottom: 10px;
    margin-top: 10px;
  } */
  .DashboardMini{
    width: 40px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 80px;
    padding: 5px 4px;
    margin: 5px;
  }
  h3{
    margin: 3px;
  }
  .staticColumnHead{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* .RequestSearch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5px auto;
  } */
  .Filter-container {
    display: flex;
    float: right;
  }

  .DonateFormDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    margin-bottom: 10px;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .LoginForm {
    display: block;
    margin: auto;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    /* backdrop-filter: blur(20px); */
    border-radius: 10px;
    width: 40vw;
    place-items: center;
  }
  .SignUpForm {
    display: block;
    margin: auto;
    width: 40vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    /* backdrop-filter: blur(20px); */
    background-color: #ffffff;

    border-radius: 10px;
    place-items: center;
  }
  .Donate {
    margin: auto;
    width: 40vw;
  }
  .SignUpFormInputFormColumn {
    width: 100%;
  }
  .DonateFormDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 25px;
    margin-bottom: 10px;
    align-items: center;
  }
  .NavBarContainer{
    display: flex;
  }

  .NavBarContainerMiniDrawer{
    display: none;

  }
  
  .SideBarLayout {
    display: grid;
    grid-template-columns: 180px 4fr;
    gap: 5px;
  }
  .NavLoginLogoutButtonContainer {
    top: 80vh;
    position: absolute; 
  }
  .NavLoginLogoutButton {
    background-color: #ccb2ee;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    width: 70px;
    border: none;
    color: rgb(50, 59, 184);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .GRAPHDashboardContainer{
    height: 60vh;
  }
  .pieContainer{
    width:400px;
    height:45vh;
    padding:5px;
  }
  .cardItem {
    display: flex;
    place-items: center;
    gap: 5px;
    flex-direction: row;
    padding: 10px;
    width: 80vw;
    height: 60px;
    margin: 0px 7px 2px 7px;
    border-radius: 10px;
    box-shadow: rgba(153, 152, 152, 0.2) 0px 2px 4px 0px;
    justify-content: space-evenly;
  }
  .cardItemListTitle {
    display: flex;
    place-items: center;
    gap: 5px;
    flex-direction: row;
    padding: 10px;
    width: 80vw;
    height: 30px;
    font-weight: 500;
    margin: 5px auto;
    background-color: #fafafa;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 0px;
    justify-content: space-evenly;
  }
  .RequestSearch {
    margin: 5px auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-items: baseline;
  }
  .cardItemDetails {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .staticColumnHead{
    text-align: left;
    width:200px;
  }

  .flexLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 75vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .cardItemTitle {
    margin: 10px 3px;
    width: 90%;  
    text-align: center;
  }
  .Dashboard {
    margin-top: 20px;
  }
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
