* {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type=text] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type=email] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type=link] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type=password] {
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type=checkbox] {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 20px;
  
}



button {
  background-color: #9747ff;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  width: 20vw;
  border: none;
  /* display: block; */
  /* margin: auto; */
  color: white;
  cursor: pointer;
}
.PromoButtonPrimary{
  background-color: #9747ff;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  width: 100px;
  border: none;
  /* display: block; */
  /* margin: auto; */
  margin: 2px 2px;
  color: white;
  cursor: pointer;
}

.PromoButtonSecondary{
  background-color:greenyellow;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  width: 100px;
  border: none;
  /* display: block; */
  /* margin: auto; */
  margin: 2px 2px;
  color: white;
  cursor: pointer;
  margin: 2px 2px;
}

.PromoButtonTertiary{
  background-color:whitesmoke;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  width: 100px;
  border: red solid 2px;
  /* display: block; */
  /* margin: auto; */
  color: red;
  cursor: pointer;
  margin: 2px 2px;
}


.LogoutButton{
  bottom: 50px;
}
.formButtons {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.formButtonActive {
  background-color: #9747ff;
  color: #ffffff;
  padding: 14px 20px 14px 20px;
  width: 20vw;
}
.formButton{
  padding: 14px 20px 14px 20px;
  margin: 2px;
  color: #050505;
  background-color: #ffffff;
  border:  #9747ff solid 1px;
  width: 20vw;
}
.DonateButton{
  display: block;
  margin: auto;
}

hr {
  margin: 5px 0px 0px 0px;
}
h5 {
  margin: 0px;
}
h1 {
  margin: 5px 0px;
}
p {
  margin: 0px;
  margin-bottom: 10px;
}

.SideBarLayout{
  display: grid;
  grid-template-columns: 150px 4fr;
}

.flexLayout {
  display: flex;
  place-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
    /* border: #050505 solid 5px; */
    height: 80vh;
    overflow-y: auto;
}
.NavBarContainer{
  /* position: absolute; */
  /* top: 0px; */
  /* width: calc(30px+20vw); */
  /* flex-direction: column; */
  height: 100vh;
  margin-right: 10px;

}
.navBarHeader {
  width: 100%;
  /* position: sticky; */
  height: 100vh;
  background-color: #9747ff91;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: start;
  padding: 0px 10px 0px 0px;
  backdrop-filter: blur(20px);
}
.navBarHeader h2 {
  color: white;
  margin: 5px 0px 5px 5px;
}
.navBarHeader span {
  color: black;
}

.navBarList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.NavLoginLogoutButtonContainer{
  top: 80vh;
  position: absolute;
}




.NavLoginLogoutButton{
  background-color: #9747ff;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  width: 70px;
  top:50%;
  border: none;
  /* display: block; */
  /* margin: auto; */
  color: white;
  cursor: pointer;

}
/* .navBarList li {
  margin: 0px 0px 0px 10px;
  font-weight: 450;
} */
.HeroesTitle{
  margin: 3px 3px;
  width:90%;
}

.Selected {
  color: white;
  margin: 5px 10px 5px 10px;
  
  font-weight: bold;
}
.unSelected {
  color: black;
  margin: 5px 10px 5px 10px;
  /* font-weight: bold; */
}


ul {
  list-style-type: none;
  padding: 0px;
}

.HeroesTitle {
  text-align: center;
}
.Heroes {
  display: flex;
  place-items: center;
  flex-direction: row;
  padding: 10px;
  width: 70vw;
  height: 177px;
  margin: 0px 7px 15px 7px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-evenly;
}
.Heroes:hover {
  background-color: #dfd5eb;
  /* width: 175px;
  height: 190px; */
}
.Heroes img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.HeroesDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.Volunteers {
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 10px;
  width: 159px;
  height: 177px;
  margin: 0px 5px 5px 5px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Volunteers img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#volunteerPoint{
  width: 20px;
}

.Partners {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 150px;
  height: 177px;
}
.Partners img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.Developers {
  color: white;
  background-color: #9747ff;
}
.Developers h4 {
  padding-top: 5px;
  text-align: center;
  margin: 0px;
}

.DevelopersContainer {
  display: flex;
  align-items: center;
}
.DevelopersInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.Dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
}

.DashboardMini {
  /* min-width: 50px; */
  width: 100px;
  /* display: block; */
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  height: 120px;
  /* border: #050505 solid 5px; */
  padding: 0px 10px;
  margin: 10px;
  
}


.C1 {
  background-color: #f5c109;
  height: 7px;
}


.LoginForm {
  display: block;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 100px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 50vw;
  place-items: center;
}


.LogInButton {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
  margin: auto;
}


.SignUpForm {
  display: block;
  margin: auto;
  width: 50vw;;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 100px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  place-items: center;
}

.SignUpFormInput {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}




.SignUpButton {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
}

.Donate {
  display: flex;
}
.DonateForm {
  display: block;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 10vh;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  width: 70vw;
}
.DonateFormDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  margin-bottom: 10px;
  align-items: center;
  
}
.ProfileImageDivContainer{
  display: block;
  margin: auto;
}
.ProfileImageContainer:hover{
  cursor: pointer;
}


.DonorBook {
  width: 150px;
  height: 220px;
  margin: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.DonorBook div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.DonorBookButton {
  float: right;
  margin: 10px;
  width: 100px;
  margin-top: auto;
}
.DonorBookButtonRequested {
  float: right;
  margin: 10px;
  width: 100px;
  margin-top: auto;
  background-color: #38a405;
}

.RequestSearch {
  margin: 10px 10px;

  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  align-items: baseline;
}
.RequestSearchOne {
  display: flex;
  align-items: center;
}
.RequestSearchOne Button {
  margin-left: 10px;
  height: 48px;
}
.RequestSearchOne input {
  width: 30vw;
}


.dropdown-container {
  text-align: left;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}
.dropdown-item {
  padding: 5px;
  cursor: pointer;
}
.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #9747ff;
}

.Filter-container {
  text-align: left;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
  
}

.Filter-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.Filter-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}
.Filter-item {
  padding: 5px;
  cursor: pointer;
}
.Filter-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.Filter-item:hover {
  background-color: #9747ff;
}

.ProfileImageContainer{
  border-radius: 15px;
  width: 150px;
  height:150px;
  border: #050505 solid 1px;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  cursor: pointer;
  


}
.ProfileImage{
  width: 100%;
  height: 100%;
  object-fit: fit;
}
.CloudImage{
  display: block;
  width: 50%;
  height: 100%;
  margin: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  

  .SignUpFormInput {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 2fr ; */
    place-items: center;
  }
  .SignUpFormInput div {
    width: 100%;
  }
 
  
  .RequestSearch{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .Filter-container{
    display: flex;
    float: right;
  }


  .DonateFormDetails {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px 10px;
    margin-bottom: 10px;
    align-items: center;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px)and (max-width:768px) {
  
  .RequestSearch{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .Filter-container{
    display: flex;
    float: right;
  }


  .DonateFormDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    margin-bottom: 10px;
    align-items: center;
  }
 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)and (max-width:992px) {
  

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .LoginForm {
    display: block;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin-top: 100px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 40vw;
    place-items: center;
  }
  .SignUpForm {
    display: block;
    margin: auto;
    width: 40vw;;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin-top: 100px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    place-items: center;
  }
  .Donate {
    
    margin: auto;
    
    width: 40vw;
  }
  .SignUpFormInputFormColumn{
    width: 100%;
  }
  .DonateFormDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 25px;
    margin-bottom: 10px;
    align-items: center;
  }


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
